$primary:#ffffff;
$primary-lite:#ffffff;
$primary-dark:#777777;
$secondary-lite:#4f5b62;
$secondary-dark:#000a12;
$secondary:#051469;
$text-primary:#000a12;;
$text-secondary:#ffffff;
$footer-background:#ccc;
$success-button-color:#118;
$cancel-button-color:#811;
$header-text-color:#FFF;
$shadow-attribute:3px 6px 3px #777777;
$button-primary-hover:#36a304;

.cust-alert{
    display:none;
    width:100%;
}
.modal{
    background-color: rgba($color: #BBB, $alpha: 0.8);
}


/*

$primary:#ffffff;
$primary-lite:#ffffff;
$primary-dark:#cccccc;
$secondary-lite:#4f5b62;
$secondary-dark:#000a12;
$secondary:#263238;
$text-primary:#000a12;;
$text-secondary:#ffffff;
$footer-background:#ccc;
$success-button-color:#118;
$cancel-button-color:#811;
$header-text-color:#FFF;
$shadow-attribute:3px 6px 3px #cccccc;
$button-primary-hover:#008;

*/
